img { vertical-align: top; }

body { background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px) #333; font-family: "Poppins", "Noto Sans KR"; }

button { background: none; border: none; padding: 0; outline: none; }

#header { height: 50px; background-color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; text-shadow: 1px 1px 0px #e6e6e6,2px 2px 0px #e6e6e6,3px 3px 0px #e6e6e6,4px 4px 0px #e6e6e6,5px 5px 0px #e6e6e6,6px 6px 0px #e6e6e6,7px 7px 0px #e6e6e6,8px 8px 0px #e6e6e6,9px 9px 0px #e6e6e6,10px 10px 0px #e6e6e6,11px 11px 0px #e6e6e6,12px 12px 0px #e6e6e6,13px 13px 0px #e6e6e6,14px 14px 0px #e6e6e6,15px 15px 0px #e6e6e6,16px 16px 0px #e6e6e6,17px 17px 0px #e6e6e6,18px 18px 0px #e6e6e6,19px 19px 0px #e6e6e6,20px 20px 0px #e6e6e6,21px 21px 0px #e6e6e6,22px 22px 0px #e6e6e6,23px 23px 0px #e6e6e6,24px 24px 0px #e6e6e6,25px 25px 0px #e6e6e6,26px 26px 0px #e6e6e6,27px 27px 0px #e6e6e6,28px 28px 0px #e6e6e6,29px 29px 0px #e6e6e6,30px 30px 0px #e6e6e6;; font-weight: 700; font-size: 18px; }

#header h1 { font-size: 18px; }

.form { margin-top: 100px !important; }

.form table { background-color: #fff; }

.form table .titleWrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form table .titleWrap #title { width: 600px; margin-right: 20px; }

.form table .titleWrap .category label { margin-left: 10px; }

#filter { margin-top: 100px; }

#filter ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#filter ul li { padding: 15px 40px; background-color: #000; color: #fff; border-radius: 100px; margin: 0 5px; cursor: pointer; }

#filter ul li.on { background-color: #f00; }

#list { width: 1200px; margin: 100px auto; }

#list ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#list ul li { width: 24%; margin: 0.5%; background-color: #fff; padding: 10px; border-radius: 10px; }

#list ul li .imgBox img { width: 100%; }

#list ul li .info h2 { font-size: 20px; margin-bottom: 10px; }

#insertBtns { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#insertBtns .btnConfirm { padding: 15px 40px; background-color: #f00; border-radius: 100px; color: #fff; font-weight: 700; }
